<footer>
    <div class="flex flex-row footer-top pt-10 pb-14 rounded-t-xl">
        <ul class="flex flex-col ps-10 md:ps-0 md:flex-row w-full">
            <div class="md:w-[70%] grid grid-cols-2 md:flex mb-4 md:mb-0">
                <li class="md:w-[16%] md:mx-[4%] mb-6 md:mb-0">
                    <h3 class="font-semibold text-lg text-white">Privacy</h3>
                    <ul>
                        <li>Terms of use</li>
                        <li>Privacy policy</li>
                        <li>Cookies</li>
                    </ul>
                </li>
                <li class="md:w-[16%] md:mx-[4%] mb-6 md:mb-0">
                    <h3 class="font-semibold text-lg text-white">Services</h3>
                    <ul>
                        <li>Shop</li>
                        <li>Order ahead</li>
                        <li>Menu</li>
                    </ul>
                </li>
                <li class="md:w-[16%] md:mx-[4%] mb-6 md:mb-0">
                    <h3 class="font-semibold text-lg text-white">About us</h3>
                    <ul>
                        <li>Find a location</li>
                        <li>About us</li>
                        <li>Our story</li>
                    </ul>
                </li>
                <li class="md:w-[16%] md:mx-[4%] mb-6 md:mb-0">
                    <h3 class="font-semibold text-lg text-white">Information</h3>
                    <ul>
                        <li>Plans & pricing</li>
                        <li>Jobs</li>
                        <li>Sell your product</li>
                    </ul>
                </li>
            </div>
            <li class="md:w-[30%] mb-6 md:mb-0">
                <h3 class="font-semibold text-lg text-white">Social media</h3>
                <ul class="flex">
                    <li class="mx-2"><i class="text-white fa-brands fa-twitter"></i></li>
                    <li class="mx-2"><i class="text-white fa-brands fa-instagram"></i></li>
                    <li class="mx-2"><i class="text-white fa-brands fa-facebook-f"></i></li>
                    <li class="mx-2"><i class="text-white fa-brands fa-youtube"></i></li>
                    <li class="mx-2"><i class="text-white fa-brands fa-linkedin-in"></i></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="p-4 footer-bottom">
        <p>Copyright&#169;2024, Tempest-RolandCorrea</p>
    </div>
</footer>