<div class="  w-full overflow-x-hidden">
    <div class="hidden bg-green-400 text-xl font-bold py-2 px-4 text-white rounded-lg absolute top-4 right-2 z-40">
        Successful purchase
    </div>
    <app-navbar [perfil]="userProfile" [userImage]="imgUser" ></app-navbar>
    <div class=" container min-h-[calc(100vh-22rem)]  mx-auto">
        <div class="flex w-11/12 mx-auto flex-col sm:flex-row sm:items-center profile rounded-xl py-10 my-10 ">
            <div class="w-11/12 mx-auto sm:mx-0  flex justify-center items-center mb-10 md:w-4/12  sm:mb-0">
                <div class="w-60 h-60 rounded-full flex justify-center items-center overflow-hidden ">
                    <div class=" w-[100%] rounded-full   overflow-hidden">
                        <img *ngIf="imgUser" [src]="imgUser" alt="avatar">
                        <img *ngIf="!imgUser" src="https://res.cloudinary.com/tempestdemigod/image/upload/v1707959976/coffeWeb/website%20image/imn114gfq6nxgfejdnjd.png" alt="avatar">
                    </div>
                </div>
            </div>
            <div class="w-11/12 h-full  md:w-8/12 mx-auto">
                <h1 class="letter-main font-extrabold text-5xl xl:text-7xl mb-4">Details of buy</h1>
                <div>
                    <table class=" w-full">
                        <tr>
                            <td class="font-semibold text-center">
                                n° products
                            </td>
                            <td *ngIf="!listCart">
                                0
                            </td>
                            <td *ngIf="listCart">
                                {{nProducts}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-semibold text-center">
                                Price
                            </td>
                            <td *ngIf="!listCart">
                                0 <span>Dolars</span>
                            </td>
                            <td *ngIf="listCart">
                                {{priceTotal}} <span>Dolars</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="btn-color w-6/12 mx-auto block text-xl font-bold py-2 mt-6 rounded-full">
                    Buy
                </button>
            </div>
        </div>

        <!-- favorite list -->

        <h2 class="text-center text-3xl sm:text-5xl font-extrabold letter-color">Products to buy</h2>
        <div *ngIf="!listCart" class="flex relative items-center min-h-[60vh] pb-6 justify-center">
            <div class="h-72 absolute w-72 rounded-full circulo-center flex items-center justify-center">

            </div>
            <h1 class="w-[100rem] z-10  text-center text-4xl font-bold">You have no products <br>in your favorites list
            </h1>
        </div>
        <div *ngIf="listCart" class=" mt-4 xl:grid-cols-4 lg:grid-cols-3 min-h-16 pb-10  grid grid-cols-1 sm:grid-cols-2">
            
            <div *ngFor="let item of listCart ; let index = index" class="card-mid-products mt-8  w-6/12 sm:w-10/12 mx-auto">
                <app-card-recent-product *ngIf="item.desc == false" [product]="item" [userForDelete]="true" [typeListProduct]="'cart'" ></app-card-recent-product>
                <app-card *ngIf="item.desc == true" [typeListProduct]="'cart'" [product]="item" [colorDesc]="index" class="card-mid-products mt-8  w-6/12 sm:w-10/12 mx-auto" [userForDelete]="true" ></app-card>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>