<div class="  w-full overflow-x-hidden">
    <app-navbar [perfil]="userProfile" [userImage]="imgUser" class="relative z-20" ></app-navbar>
    <div class="flex relative justify-center items-center w-full  h-[calc(100vh)] bg-fondo overflow-hidden ">
        <div class="absolute top-20  md:top-16 xl:top-10 text-center z-0">
            <h2 class="font-extrabold letter text-4xl md:text-5xl xl:text-6xl ">Find a moment </h2>
            <h2 class="font-semibold text-2xl letter-mid">for</h2>
            <h2 class="font-extrabold letter text-4xl md:text-5xl xl:text-6xl ">Morning enjoyment</h2>
        </div>
        <img class="z-30 w-10/12 sm:w-6/12 md:w-5/12 xl:w-3/12 lg:w-4/12 " src="https://res.cloudinary.com/tempestdemigod/image/upload/v1707960741/coffeWeb/website%20image/utqumof3p1karztuo2hg.png" id="beansRL">
        
    </div>
    <div class="w-full bg-mid">
        <div class="container mx-auto sm:flex  py-12">
            <div class="hidden w-4/12  sm:block">
                <div class="w-48 mx-auto rounded-t-full h-full  overflow-hidden aboutSpecial">

                </div>
            </div>
            <div class=" sm:ps-4 w-10/12  sm:w-8/12 mx-auto py-14">
                <h2 class="letter-title text-yellow-400 font-semibold text-lg">About Us</h2>
                <h3 class="letter-mid font-bold text-xl">What makes our coffe special?</h3>
                <p class="text-gray-500 font-semibold mt-6 ">Our coffees are of high quality, we have various beans for different preparations and to be able to savor your favorite coffee.</p>
            </div>
        </div>
    </div>
    <div class="w-full my-8 py-12">
        <div class="container mx-auto sm:flex  py-12">
            <div class="sm:ps-4 w-10/12  sm:w-8/12 mx-auto py-20 ">
                <h2 class="letter-mid font-semibold text-lg">Our company</h2>
                <p class="font-semibold">
                    It is a family business, we have been offering the best products for coffee preparation for 20 years, satisfying our customers with excellent prices.</p>
            </div>
            <div class="hidden w-4/12  sm:block">
                <div class="w-48 mx-auto rounded-t-full h-full  overflow-hidden aboutbottom">

                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
