<div class="  w-full overflow-x-hidden">
    <app-navbar [perfil]="userProfile" [userImage]="imgUser" class="relative z-20" ></app-navbar>
    <div class="container mx-auto">
        <div class="w-11/12 mx-auto mt-14 h-64 bg-title rounded-2xl   flex">
            <div class=" h-full w-full md:w-6/12  ps-6 flex flex-col justify-center">
                <h1 class="font-bold text-4xl">Our best offers</h1>
                <p class="font-semibold text-xl mt-2">Take advantage of our offers</p>
            </div>
            <div class="hidden w-6/12 items-center justify-center md:flex ">
                <div class="w-8/12 relative lg:w-6/12 ">
                    <img class="absolute z-10 -translate-x-36 lg:-translate-x-40 xl:-translate-x-52 -translate-y-6 min-w-[140%]" src="https://res.cloudinary.com/tempestdemigod/image/upload/v1707960814/coffeWeb/website%20image/fhvm3k7ondkrv5mzimdv.png" alt="">
                    <img class="w-full" src="https://res.cloudinary.com/tempestdemigod/image/upload/v1707960847/coffeWeb/website%20image/ppx5ucixiedoitxrq41r.webp" alt="CupCoffe">
                    <img class="absolute top-0 right-0 w-5/12" src="https://res.cloudinary.com/tempestdemigod/image/upload/v1707960877/coffeWeb/website%20image/ect4narlbyephlglmuyo.png" alt="">
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center mt-8">
            <div class="h-1 w-5/12 rounded-xl bg-gray-400"></div>
            <div class="h-8 w-8 rounded-full border-2 border-gray-400 flex justify-center items-center mx-2">
                <div class="h-4 rounded-full w-4 bg-gray-600"></div>
            </div>
            <div class="h-1 w-5/12 rounded-xl bg-gray-400"></div>
        </div>
        <div class=" mt-4 xl:grid-cols-4 lg:grid-cols-3 min-h-60 pb-10  grid grid-cols-1 sm:grid-cols-2">
            <app-card *ngFor="let item of allProducts; let index = index" [product]="item" [colorDesc]="index" class="card-mid-products mt-8  w-6/12 sm:w-10/12 mx-auto"></app-card>
        </div>
    </div>
    <app-footer></app-footer>
</div>